<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atomic0x90.github.io.mathgame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Multiplication_table"
            android:screenOrientation="portrait" ></activity>
        <activity
            android:name=".InfinityChallenge_Minus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfinityMinusMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfinityChallenge_Plus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loding_screen"
            android:screenOrientation="portrait"
            android:theme="@style/LodingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfinityPlusMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Challenge_divide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Challenge_multi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Challenge_sub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserStatistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomDialog"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Challenge_add"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>